<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <section>
      <app-header></app-header>
      <app-navbar></app-navbar>
      <div class="borderline"></div>
      <div class="heading">
        <h1>Proctor Count Views</h1>
      </div>

      <div
        class="spinner-border text-primary"
        id="image"
        style="display: none"
      ></div>
      <div class="container">
        <table
          class="mdl-data-table stripe hover cell-border order-column display"
          id="myTable"
        >
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>State Name</th>
              <th>Proctor Count</th>
            </tr>
          </thead>
        </table>
      </div>
      <app-footers></app-footers>
    </section>

    <script src="man.js" async defer></script>
  </body>
</html>
