<div class="col-md-12">
  <nav class="navbar navbar-md mt-0" style="left: 65%">
    <ul class="nav navbar-right mt-0 pt-0 mr-0">
      <li routerLinkActive="active">
        <a
          style="color: white; border-radius: 4px"
          class="nav-link"
          routerLink="/proctor-count-views"
          >DASHBOARD</a
        >
      </li>
      <li>
        <a
          style="color: white"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/login"
          >BATCHES</a
        >
      </li>
      <li>
        <a
          style="color: white"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/login"
          >BILLS</a
        >
      </li>
      <li>
        <a
          style="color: white"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/login"
          >REPORTS</a
        >
      </li>
    </ul>
  </nav>
</div>
