<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="borderline"></div>
    <div class="container-fluid banner">
      <div class="row">
        <div class="toggle2">
          <canvas id="myChart" width="750" height="400"></canvas>
        </div>
        <div class="toggle1 mt-5 pt-3" style="display: none; margin-top: 5vh">
          <div class="form" style="margin-left: 27%">
            <form class="mt-2 ml-5 mb-2">
              <input
                type="button"
                class="mr-3"
                (click)="scrolldown()"
                value="Languagewise Distribution"
              />
              <input
                type="button"
                (click)="download_file()"
                value="Download Data"
              />
            </form>
          </div>
          <div
            class="spinner-border text-primary"
            id="image"
            style="display: none"
          ></div>
          <table
            class="mdl-data-table stripe hover cell-border order-column display"
            id="myTable"
          >
            <thead>
              <tr>
                <th>Facilitator Id</th>
                <th>Facilitator Name</th>
                <th>Facilitator Email</th>
                <th>Facilitator Phone</th>
                <th>Facilitator Alternate Phone</th>
                <th>Date Of Upload</th>
                <th>District</th>
                <th>State</th>
                <th>Aadhaar Number</th>
                <th>Pan Number</th>
                <th>Proctor Status</th>
                <th>Certificate File Name</th>
                <th>Certificate Expiry Date</th>
                <th>Languages Known</th>
                <th>Source</th>
                <th>Sourced By User Name</th>
                <th>Bank Account Number</th>
                <th>Bank Name</th>
                <th>IFSC Code</th>
                <th>Cancelled Cheque File Name</th>
                <th>MoU File Name</th>
                <th>Facilitator Image File Name</th>
                <th>Facilitator Resume File Name</th>
                <th>Education Certificate File Name</th>
                <th>Experience Certificate File Name</th>
                <th>Status</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!--div
        class="modal-footer mx-5 pt-2 mb-1 justify-content-center fixed-bottom"
        style="font-size: 16px"
      >
        <p style="color: rgb(255, 255, 255)" class="d-flex">
          <b>© 2020 Copyright :</b>
          <a
            style="color: rgb(240, 234, 234); padding: 0px 6px"
            href="https://navriti.com/"
            class="ml-1"
            target="_blank"
            ><b> Navriti Technologies Pvt Ltd. </b></a
          >
        </p>
      </div-->

    <script src="man.js" async defer></script>
  </body>
</html>
